<!-- 公共头部 -->
@@include('common/header.ejs')

<div class="container">
    @@include('index/header.ejs')
    @@include('index/article.ejs')
    @@include('index/footer.ejs')
</div>

<!-- 公共底部 -->
@@include('common/footer.ejs')